# This file is part of gepd.
# https://github.com/lichtbaer/dawum

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2018, johannes <johannes@kampagnen.eu>

[run]
omit =
    *tests.py
branch = True
source =
    gepd

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
